@import "../../styleSheets/variables.scss";
.main {
  &__item {
    width: 400px;
    &--image {
      padding: 10px;
      width: 400px;
    }
    &--title {
      font-family: $font-main;
    }
  }
}
