@import "../../styleSheets/variables.scss";
.loading {
  height: 100vh;
  font-family: $font-main;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
