@import "../../styleSheets/variables.scss";
.video-container {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
}
.player {
  width: 100vw;
  @media all and (min-width: 766px) {
    width: 80vw;
  }
}
