@import "../../styleSheets/variables.scss";
.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  height: 4vh;
  &__text {
    color: $color-secondary;
    font-family: $font-main;
    font-weight: 700;
  }
  &__media {
    list-style: none;
    display: flex;
    &--github,
    &--linkedin,
    &--twitter {
      color: $color-secondary;
      padding-left: 30px;
    }
  }
}
